<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpringToys - Sobre a Equipe</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

    <!-- Navbar -->
    <div class="navComponentshtml">
   
</div>

    <!-- Main Content -->
    <main class="main-content">
        <section class="container mt-4">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <img src="../imgs/gustavo.png" class="card-img-top" height="500px" alt="Membro 1">
                        <div class="card-body">
                            <h5 class="card-title">Gustavo</h5>
                            <p class="card-text">Equipe Dev</p>
                            <p class="card-text">RA: 2571392312006</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <img src="../imgs/murilo.jpg" class="card-img-top" height="500px" alt="Membro 2">
                        <div class="card-body">
                            <h5 class="card-title">Murilo</h5>
                            <p class="card-text">Scrum Master</p>
                            <p class="card-text">RA: 2571392312029</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-4">
                    <div class="card">
                        <img src="../imgs/lucas.jpg" class="card-img-top" height="500px" alt="Membro 3">
                        <div class="card-body">
                            <h5 class="card-title">Lucas</h5>
                            <p class="card-text">Product Owner</p>
                            <p class="card-text">RA: 2571392312022</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-4">
                    <div class="card">
                        <img src="../imgs/joao.jpg" class="card-img-top" height="500px" alt="Membro 4">
                        <div class="card-body">
                            <h5 class="card-title">João</h5>
                            <p class="card-text">Equipe Dev</p>
                            <p class="card-text">RA: 2571392312007</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <div class="footerComponentshtml"></div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="" th:src="@{javascript/Componentes.js}"></script>
</body>

</html>
